<%= form_tag url_for(action: 'update'), method: 'PUT', class:"card-body" do %>
    <div class="form-group">
      <%= label_tag 'content', 'Contenu' %>
      <%= text_area_tag 'content', @comment.content, class: "form-control" %>
      <input type=hidden name="gossip_id" value="<%= params[:gossip_id]%>" />
    </div>
    <div class="form-group">
      <%= submit_tag "Editer le commentaire", class: "btn btn-info"%>
      <a class= "btn btn-danger" data-confirm="T'es sûr ?" data-method= "delete" href="<%= gossip_comment_path%>">Supprimer</a>
    </div>
<% end %>