<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title@gossip Project by lyon's team - Baptiste, léo & Lionel</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/full-width-pics.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->

  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    <img class="img-fluid d-block mx-auto" src="http://www.lioforest.com/images/logo_potin.jpg" alt="">
  </header>


  
  <!-- Content section -->


  <section class="py-5">
    <%= form_tag url_for(action: 'create'), method: "post" do %>

       <div class ="form_group">

         <%= label_tag 'Votre e-mail :' %>
          <%= text_field_tag 'email', @user_email %>
          <br /> <br />

          <%= label_tag 'Votre mot de passe :' %>
          <%= password_field_tag 'password' , @user_password %>
          <br /> <br />

          <%= label_tag 'Votre prénom :' %> 
          <%= text_field_tag 'first_name', @first_name %>
          <br /> <br />

          <%= label_tag 'Votre nom :' %> 
          <%= text_field_tag 'last_name', @last_name %>
          <br /> <br />

          <%= label_tag 'Votre ville :' %> 
          <%= text_field_tag 'city', @city %>
          <br /> <br />

          <%= label_tag 'Votre code postal :' %> 
          <%= text_field_tag 'zip_code', @zip_code %>
          <br /> <br />

        <button type="submit" class="btn btn-primary">Valider </button>
        </div>

    <% end %>

  </section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Lioforest/thp 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>